/*Meny bar*/
a {
    color: #000;
}

hr {
    height:2px;
    background-color:orange;
    border:none;
}


/* header */
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.7);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: white;
}

.header li a {
    display: block;
    padding: 30px 30px;

    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: wheat;

}

.header .logo {
    display: block;
    float: left;
    font-size: 1em;
    padding: 0px 50px;
    text-decoration: none;
}

/*Add colour to the active/current link*/
.active {
    color: black;
    border-bottom: 3px solid wheat;
}
/* menu */

.header .menu {
    text-align: center;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 23px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}
/* many ends*/
div.parent {
    position: relative;
    height: 200px;
    border: 3px solid red;
}


div.gal:hover {
  background-color:burlywood;
    color:black;
    cursor: pointer;
}

div.gal img {
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;

}
.desc a {
    color: wheat;
}

* {
    box-sizing: border-box;
}

.resp {
    float: left;
    border: 3px solid black;
    background-color:black;
    padding: 0 6px;
    width: 24.99999%;
    margin-left: 80px;


}

.relative{
    position: relative;
    top: -30px;


}


@media only screen and (max-width: 700px) {
    .resp {
        width: 50.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .resp {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* image*/
.bg {
    position: relative;
    width: 100%;
    height: auto;
}

/* images*/
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*about us*/
.about{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    padding-top: 50px;
}

.frontpage-text {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    background: white;
    margin-bottom: 4px;
    align-items:center;
    justify-content: center;
    min-height: 250px;
    flex-direction: column;
    text-align: center;
}


.programs{
    flex-grow: 1;
    flex-basis: 40%;
}
.programs{

}


.programs prog{

    min-width: 60px;
}
.programs prog2{

    min-width: 60px;
}


/* The banner */

.banner-frontpage-content{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    padding-top: 59px;
}

.banner-frontpage-text {
    display: flex;
    flex-basis: 40%;
    flex-grow: 1;
    background: white;
    margin-bottom: 4px;
    align-items:center;
    justify-content: center;
    min-height: 250px;
    flex-direction: column;
    text-align: center;
}


.banner-frontpage-picture{
    flex-grow: 1;
    flex-basis: 50%;
}

.banner-frontpage-picture img{
    max-width: 100%;
    height: auto;
    min-width: 400px;
}
/* done*/
